################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Atom Password Manager/bin/
/Atom Password Manager/obj/
*.atom